[db]
host = "localhost"
port = 5432
database = "olist_bi"
user = "postgres"
password = "2003"

[oauth]
redirect_uri = "http://localhost:8501"

[oauth.google]
client_id = "704423604879-f19mehqt2140vo3n0hacdi1l2l24g6p9.apps.googleusercontent.com"
client_secret = "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"

[app]
base_url = "http://localhost:8501"

[email]
smtp_host = "smtp.gmail.com"
smtp_port = 587
smtp_username = "yashkalra211@gmail.com"
smtp_password = "agnv hnlz zgah vdns"
sender_email = "yashkalra211@gmail.com"
